:root {
    --header-width: 1200px;
    --description-and-category-width: 820px;
    --margin-left-medium-screen: 12px;
    --restaurant-image-and-basket-width: 355px;
    --basket-margin: 10px;

    --basket-color: #00cdbd;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
    background-color: #f3f5f5;
}

.header-main {
    background-color: white;
    padding-bottom: 30px;
    /* border: 1px solid rebeccapurple; */
}
.header-logo {
    height: 43px;
    margin-left: calc((100vw - var(--header-width)) / 2);
    margin-bottom: 4px;
}

.header-logo-medium-screen {
    margin-left: var(--margin-left-medium-screen);
}

.header-horizontal-line {
    width: calc(100% - 2px);
    border: 1px solid #e5e5e5;
}

.header-restaurant-text-and-image {
    padding-top: 30px;
    margin-left: calc((100vw - var(--header-width)) / 2);
    width: var(--header-width);
    display: flex;
}

.header-restaurant-text-and-image-medium-screen {
    margin-left: var(--margin-left-medium-screen);
    width: calc (100% - var(--margin-left-medium-screen));
}

.header-restaurant-text {
    width: var(--description-and-category-width);
    margin-right: 30px;
}
.header-restaurant-medium-width {
    width: calc(
        100vw - var(--restaurant-image-and-basket-width) - 70px -
            var(--margin-left-medium-screen)
    );
}

.header-restaurant-text > h1 {
    color: #2e3333;
    font-size: 2rem;
}

.header-restaurant-text > div {
    color: #868a8a;
    font-size: 1.2rem;
    line-height: 1.5;
}
.header-restaurant-image {
    width: var(--restaurant-image-and-basket-width);
    height: 198px;
    object-fit: cover;
    border-radius: 5px;
}

.content-and-basket {
    display: flex;
    justify-content: flex-start;
}

.content-div-main {
    background-color: #f3f5f5;
}
.content-div-main-margin {
    margin-left: calc((100vw - var(--header-width)) / 2);
    width: 840px;
}
.content-div-main-margin-medium-screen {
    margin-left: var(--margin-left-medium-screen);
}
.content-div-main-margin-small-screen {
    margin-left: var(--margin-left-medium-screen);
    width: 500px;
}

.category-div-main {
    padding-top: 0.01rem;
    margin-top: 0px;
    /* border: 2px solid red; */
}

h2 {
    padding-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-left: var(--margin-left-medium-screen);
    padding-bottom: 20px;
}

.category-meals {
    display: flex;
    flex-wrap: wrap;
}

.category-meal {
    width: 400px;
    height: 160px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 0.9rem;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 25px;
}

.category-meal:hover {
    box-shadow: 0 22px 24px 0 rgb(46 51 51 / 7%);
}

.category-meal-text {
    width: 130px;
    height: 130px;
    object-fit: center;
    display: flex;
    flex-direction: column;
}

h3 {
    padding-top: 15px;
    font-size: 1.17em;
    font-weight: 400;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.category-meal-description {
    font-size: 0.9rem;
    /* color: red; */

    color: #808484;
    line-height: 1.3rem;
    height: 2.6rem;
    overflow: hidden;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 8px;
}

.category-price-and-popularity {
    display: flex;
    margin-top: 15px;
    /* margin-left: 1rem; */
    align-items: center;
}

.category-price {
    color: #808484;
    font-size: 1.1rem;
    margin-right: 15px;
}
.category-popular {
    display: flex;
    align-items: center;
    color: #ff8000;
    font-weight: 800;
    font-size: 0.8rem;
}
.category-star {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.category-meal-picture {
    width: 130px;
    height: 130px;
    object-fit: center;
    margin: 15px;
    border-radius: 5px;
}

.basket-card {
    background-color: white;
    width: var(--restaurant-image-and-basket-width);
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    /* border: solid 1px green; */
}

.basket-validation {
    margin: var(--basket-margin);
    border-radius: 5px;
    padding: 1rem;
    background: var(--basket-color);
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 1rem;
}
.basket-meal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.basket-plus-less-button {
    width: 26px;
    height: 26px;
    color: var(--basket-color);
    border-color: var(--basket-color);
    cursor: pointer;
}

.basket-less-button {
    margin-left: var(--basket-margin);
}

.basket-meal-title {
    width: 184px;
    height: 42px;
    text-align: start;
    /* border: #ff8000 solid 1px; */
}
.basket-title-and-price {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: var(--basket-margin);
    /* background-color: red; */
}
.basket-quantity-for-1-meal {
    width: 16px;
    height: 21px;
    text-align: center;
}

.basket-amount-for-1-meal {
    width: 85px;
    height: 21px;
    text-align: end;
    /* border: white solid 1px; */
}
.basket-sums {
    margin-left: var(--basket-margin);
    margin-right: var(--basket-margin);
    display: flex;
    justify-content: space-between;
}
