.header-logo {
    height: 43px;
}

.header-restaurant-image {
    width: 355px;
    height: 198px;
    object-fit: cover;
}

.category-meal-picture {
    width: 130px;
    height: 130px;
    object-fit: center;
}
